<ion-header>
  <ion-toolbar>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-list>
        <ion-item>
          <ion-label floating>First Number</ion-label>
          <ion-input [(ngModel)]="num1"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Operation</ion-label>
          <ion-select [(ngModel)]="operator">
            <ion-select-option value="+">+</ion-select-option>
            <ion-select-option value="-">-</ion-select-option>
            <ion-select-option value="*">*</ion-select-option>
            <ion-select-option value="/">&#247;</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Second Number</ion-label>
          <ion-input [(ngModel)]="num2"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Equals</ion-label>
          <ion-input readonly  [(ngModel)]="answer"></ion-input>
        </ion-item>
      </ion-list>
</ion-content>